:root {
  --spacing-unit: 8px;
  --grid-spacing: calc(3 * var(--spacing-unit)); /* 24px */
}

.therapists-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.therapist-card-item {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .therapist-card-item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .therapist-card-item {
    width: 30%;
  }
}
